<h1>Existencias registradas</h1>
{{#each ideas}}
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Editar</a>
    <form action="/ideas/{{id}}?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="btn btn-danger btn-block" type="submit" value="Delete">
    </form>
  </div>
{{else}}
  <p>No hay ideas de video</p>
{{/each}}